<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <!-- 외부 JavaScript 파일 로드 -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <div class="main-page">

        <div class="left-bar">

            <div class="flex-box1">
              <img class="left-bar-user-icon" alt="" src="{{ url_for('static', filename='ccb_img/user_icon.png') }}"/>
              <button class="login-btn" id="loginBtn" onclick="location.href='{{ url_for('login_pop') }}'">
                로그인
              </button>
            </div>

            <div class="flex-box2">
                <div class="chatroom">채팅방 목록</div>
                <button class="addchatroom-btn" id="addchatroomBtn">
                    <!-- <button class="addchatroom-btn" id="addchatroomBtn" onclick="location.href='http://127.0.0.1:5500/addChatRoom_pop.html'">     -->
                    <img class="addchatroom-img" alt="" src="{{ url_for('static', filename='ccb_img/addChatroom_icon.png') }}"/>
                </button>
            </div>

            <div class="chatroom-list" id="chatroomList">   
                <div class="flex-box3">
                    <img class="chatroom-yong-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                    ChitChatBot                    
                </div>
            </div>   

        </div>

        <div class="right-bar">
            <div class="flex-box4">
                <img class="chatroom-yong-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                ChitChatBot
            </div>
            
            <div class="chatting-div">
                
                <div class="bot-chat">
                    <img class="chat-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                    <p class="message">안녕하세요. ChitChatBot입니다. 처음 서비스를 이용하신다면 다음 질문들을 눌러 사용법을 알아보세요
                    </p>      
                </div>
                <div class="bot-chat">
                    <img class="chat-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                        <div class="inform-message-div">
                        <button class="inform-message" id="defaultMessageBtn1" onclick="insertData()">
                            <p class="message">ChitChatBot은 어떤 서비스야?</p>
                        </button>
                        <button class="inform-message" id="defaultMessageBtn2" onclick="insertData()">
                            <p class="message">단체톡방에 봇 추가하는 방법 알려줘</p>
                        </button>
                        <button class="inform-message" id="defaultMessageBtn3" onclick="insertData()">
                            <p class="message">채팅방 추가는 어떻게 하는거야?</p>
                        </button>
                    </div>
                </div>
                <div class="bot-chat">
                    <img class="chat-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                    <form action="{{ url_for('upload') }}" method="post" enctype=multipart/form-data>
                        <input type="file" id="textfile" name="textfile" accept=".txt">
                        <button type="submit">확인</button>
                    </form>
                </div>

                <div class="bot-chat">
                    <img class="chat-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                    <p class="message">{{completion}}</p>
                </div>

                <div class="bot-chat">
                    <img class="chat-icon" alt="" src="{{ url_for('static', filename='ccb_img/yong_icon.png') }}"/>
                    <p class="message">{{answer}}</p>
                </div>
                
                <!-- 사용자 채팅 부분 -->
                <!-- <div class="my-chat">
                    <img class="chat-icon" alt="" src="./static/ccb_img/user_icon.png" />
                    <p class="message">안녕하세요. ChitChatBot입니다. 처음 서비스를 이용하신다면 저의 ‘질문 메뉴’를 이용해 사용하는 방법을
                        익혀보세요</p>
                </div> -->
                
            </div>
    
            <div class="enterChat-div">
                <form action="{{ url_for('receive_message') }}" method="post" enctype=multipart/form-data>
                <div class="flex-box5">
                    <img class="pencil-icon" alt="" src="{{ url_for('static', filename='ccb_img/pencil_icon.png') }}"/>
                        <input type="text" class="input-userMsg" name="message" id="inputUserMsg" placeholder="메세지를 입력해주세요">
                        <button type="submit" class="send-usrMsg-btn" id="sendUsrMsgBtn" onclick="insertData()">
                            <img src="{{ url_for('static', filename='ccb_img/send_message_icon.png') }}" alt="Send Message" width="50" height="50" right="100">
                        </button>
                </div>
                </form>
            </div>      
        </div>

        <div class="gray-line"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>